{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="ui center aligned grid">
  {% for article in articles %}
  <div class="article-head common-width ui padded segment">
    <p class="title">
      <a href="/blog/article?article_id={{article.id}}">
        title: {{ article.title }}
      </a>
    </p>
    <p>
      <span>
        create date: {{ article.create_date }}, create user: {{ article.create_user }}
      </span>
    </p>
  </div>
  {% endfor %}
</div>

<div class="ui center aligned grid">
  <div class="common-width ui borderless menu">
    {% if page.has_previous %}
    <a class="item" href="/blog?page_id={{page.previous_page_number}}">
      prev
    </a>
    {% endif %}
    
    {% for num in page.paginator.page_range%}
    <a class="item" href="/blog?page_id={{ num }}">
      {{ num }}
    </a>
    {% endfor %}
    {% if page.has_next %}
    <a class="item" href="/blog?page_id={{page.next_page_number}}">
      next
    </a>
    {% endif %}
  </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static "article/article-list.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "common/common.css" %}" />
{% endblock %}
