<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {% load static %}
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "bower_components/semantic/dist/semantic.min.css" %}" />
    <script src="{% static "bower_components/semantic/dist/semantic.min.js" %}"></script>
  </head>
  <body>
    
    <div class="ui menu">
      <div class="header item">
        blog.m0cchi
      </div>
      <a class="item" href="/blog?page_id=1">
        blog
      </a>
    </div>
    
    {% block content %}{% endblock %}
    
  </body>
</html>
